$primary-light: #e6eef7;
$primary-light_hover: #d9e6f3;
$primary-light_active: #b0cbe6;
$primary-normal: #0057ad;
$primary-normal_hover: #004e9c;
$primary-normal_active: #00468a;
$primary-dark: #004182;
$primary-dark_hover: #003468;
$primary-dark_active: #00274e;
$primary-darker: #001e3d;


$secondary-light: #fffbe7;
$secondary-light_hover: #fef9db;
$secondary-light_active: #fef4b4;
$secondary-normal: #fbda0c;
$secondary-normal_hover: #e2c40b;
$secondary-normal_active: #c9ae0a;
$secondary-dark: #bca409;
$secondary-dark_hover: #978307;
$secondary-dark_active: #716205;
$secondary-darker: #584c04;

$neutral-lighter: #b2bbc6;
$neutral-light_hover: #a3adbb;
$neutral-light_active: #909dad;
$neutral-normal: #546881;
$neutral-normal_hover: #47586e;
$neutral-normal_active: #3d4c5e;
$neutral-dark: #1d242d;
$neutral-dark_hover: #151a20;
$neutral-dark_active: #090b0e;
