* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", sans-serif;

}

@import '../abstracts/mixins';
@import '../abstracts/variables';
@import 'hero';
@import 'header';
@import 'content';
@import 'collection';
@import 'about';
@import 'product';
@import 'review';
@import 'faq';
@import 'newsletter';
@import 'footer';